doctype html
html
  head
    title= "Uliza Answers Connector Authentication Demo Client"
    script(src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js")
  body
    h3 Instructions
    ol
      li Create a user:
        pre curl -XPOST #{process.env.ULIZA_ANSWERS_CONNECTOR_URL}/users/ -H 'Content-Type: application/json' -d '{"auth0_user_id": "&lt;YOUR_AUTH0_USER_ID&gt;","zammad_token": "xxxxx","firebase_login": "xxxxx","sip_user": "xxxxx"}'
        = 'Note that you must add YOUR_AUTH0_USER_ID. The other fields do not matter for this demo.'
      li Try the 'Access user credentials' button.
      li Press the login button and authenticate.
      li Try the button again.
      li Gaze in awe.
    hr
    block content
