doctype html
html
  head
    title= "Uliza Answers Connector Authentication Demo Client"
    script(src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js")
  body
    h3 Instructions
    ol
      li Try the 'Access user credentials' button.
      li Press the login button and authenticate.
      li Try the button again.
      li Gaze in awe.
    hr
    block content
