doctype html
html
  head
    title= "Uliza Answers Connector Authentication Demo Client"
    script(src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js")
  body
    h3 Instructions
    ol
      li Try accessing the secret resource.
      li Press the login button and authenticate.
      li Try the secret button again.
      li Gaze in awe.
    hr
    block content
